



<div class="row">
	<div class="three columns">
		<h2>Genres</h2>
		<%= form_for @new_genre do |f| %>
			<div class="field">
				<%=f.label :name %>
				<%=f.text_field :name, class: "input", autofocus: true %>
			</div>
			<%= f.submit "Create" %>
		<% end %>
	</div>

	<div class="nine columns">
		<ul>
			<% @genres.each do |g| %>
				<li>
					<h4><%= g.name %></h4>
				</li>
			<% end %>
		</ul>

	</div>

</div>