<% content_for :javascript_includes do %>
  <%= javascript_include_tag "users.js" %>
<% end %>

<div class="row">

	<div class="three columns">
		<h3> <%= @user.first_name %> </h3>
	</div>

	<div class=" seven columns">
		<div class="tab_container">
			<section class="tabs">

				<ul class="tab-nav">
				
					<li class="tab active">
						<a href="#" class="tab">Liked Songs</a>
					</li>
					<li class="tab">
				  	<a href="#" class="tab">Liked Bands</a>
				  </li>

					<div class="tab-content active">
			        <%= render 'songs/displaySongs' %>
			    </div>
			  	<div class="tab-content">
			  		<%= render 'bands/bandtab' %>
			    </div>

				</ul>

			</section>
		</div>
	</div>

	<div class="two columns">
		<%= link_to "Make a Band", new_band_path %>
	</div>


</div>

