<% content_for :javascript_includes do %>
  <%= javascript_include_tag "users.js" %>
<% end %>

<div class="row">

	<div class="three columns">
		<%= image_tag(@user.profile_pic.url, class: "profile_pic") %>
		<h3> <%= @user.first_name %> </h3>
	</div>

	<div class="nine columns">
		<div class="tab_container">
			<section class="tabs">

				<ul class="tab-nav">
				
					<li class="tab active">
						<a href="#" class="tab">Liked Songs</a>
					</li>
					<li class="tab">
				  	<a href="#" class="tab">Liked Bands</a>
				  </li>
				  <% unless current_user.venues.empty? %>
					  <li class="tab">
					  	<a href= "#" class="tab">My Venues</a>
					  </li>
					<% end %>
						<li class="tab">
					  	<a href= "#" class="tab">My Requests</a>
					  </li>
					<div class="tab-content active">
			        <%= render 'songs/displaySongs' %>
			    </div>
			  	<div class="tab-content">
			  		<%= render 'bands/bandtab' %>
			    </div>
			    <% unless current_user.venues.empty? %>
				    <div class="tab-content">
				  		<% @venues.each do |v| %>
				  			<%= v.name %><br>		
				  			<%= image_tag(v.image.url) %><br>
				  			<%= link_to "Edit Venue", edit_venue_path %>	  			
				  		<% end %>
				    </div>
				  <% end %>
				  	<div class="tab-content">
				  	<h4>Stuff</h4>
				  		<% @responses.each do |r| %>
				  			<%= r.band_name %>
				  			<%= r.status %>  			
				  		<% end %>
				    </div>
			    
				</ul>

			</section>
		</div>
	</div>
</div>

