<h4><%= params %></h4>
<%= form_for([@band, @request]) do |f| %>

  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@request.errors.count, "error") %> prohibited this request from being sent:</h4>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="six columns centered">
      <fieldset>
        <legend><h2>New Request</h2></legend>
        <ul>
          <ul>
            <% if @request.request_type == "member" %>
              <%= render 'memberRequest', f: f %>
            <% elsif @request.request_type == "booking" %>
              <%= render 'bookingRequest', f: f %>
            <% end %>

            <li class="medium secondary btn">
              <%= f.hidden_field :request_type %>
              <%= f.submit "Send Request" %>
            </li>
          </ul>
        </ul>
      </fieldset>
    </div>
  </div>


<% end %>