
<h3><%= params[:band_id] %></h3>


<%= form_for(@song) do |f| %>
 
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@song.errors.count, "error") %> prohibited this product from being saved:</h4>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="eight columns">
      <fieldset>
        <legend><h2>New Song</h2></legend>
        <ul>
            <ul>
              <li class="field">
                <%= f.label :title %><br>
                <%= f.text_field :title, class: "input" %>
              </li>
              <li >
                <%=f.label "Song file" %>
                <%=f.file_field :mp3_file, class: "input" %>
              </li>
              <li class="medium secondary btn">
                <%= f.hidden_field :band_id %>
                <%= f.submit 'Create Song' %>
              </li>
            </ul>
        </ul>
      </fieldset>
    </div>
  </div>




<% end %>
