<div class="two column">
	<ul>
		<% if @band.users.include?(current_user) %>

			<li><%= link_to "New Song", new_band_song_path(params[:id]) %></li>
			<li><%= link_to 'Leave ' + @band.name, leave_band_path, method: :post %></li>
			<li><a href="#" class="member_options_toggle">Edit Songs</a></li>
			<li><%= link_to "Edit Band", edit_band_path(@band) %></li>
			<li>
			<%= link_to 'Delete Band', @band, method: :delete, confirm: "are you sure?" %>
			</li>

			
		<% else %>
			<li><%= link_to 'Join ' + @band.name, new_band_request_path(user_id: current_user.id, band_id: @band.id) %></li>
		<% end %>
	</ul>
</div>