

<%= form_for(@band) do |f| %>

  <% if @band.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@band.errors.count, "error") %> prohibited this product from being saved:</h4>

      <ul>
      <% @band.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="six columns centered">
      <fieldset>
        <legend><h2><%= @form_title %></h2></legend>
        <ul>
            <ul>
              <li class="field">
                <%= f.label :name %><br>
                <%= f.text_field :name, class: "input" %>
              </li>
              <li class="field">
                <%=f.label :profile_pic %>
                <%=f.file_field :profile_pic %>
              </li>
              <li class="medium secondary btn">
                <%= f.submit @form_button %>
              </li>
            </ul>
        </ul>
      </fieldset>
    </div>
  </div>


<% end %>