


	<div class="band_name">
		<h1><%= @band.name %></h1>
	</div>

	<% if user_signed_in? %>
		<div class="right_side_actions">
			<ul>
				<% if @band.users.include?(current_user) %>

					<li><%= link_to "New Song", new_band_song_path(params[:id]) %></li>
					<li><%= link_to 'Leave ' + @band.name, leave_band_path, method: :post %></li>

				<% else %>
					<li><%= link_to 'Join ' + @band.name, join_band_path, method: :post %></li>
				<% end %>
			</ul>
		</div>
	<% end %>


<div class="row">
	<div class="twelve cloumns">

		<section class="tabs">

			<ul class="tab-nav">
				<li class="tab active">
					<a href="#">Songs</a>
				</li>
			  <li>
			  	<a href="#" class="tab">Band Members</a>
			  </li>
				<div class="tab-content active">
		        <%= render 'songs/songtab' %>
		    </div>
		    <div class="tab-content">
		    <div class="band_members">
					<ul>
						<% @members.each do |m| %>
							<li>
								<%= m.first_name %>
							</li>
						<% end %>
					</ul>
		</div>	
	</div>
		    </div>
			</ul>

		</section>


	</div>
</div>





