<div class="row">

	<div class="three columns">
		<div>
			<%= image_tag(@band.profile_pic.url, class: "profile_pic") %>
			<h3><%= @band.name %></h3>
		</div>
	</div>

	<div class="seven columns">

		<section class="tabs">

			<ul class="tab-nav">
				<li class="tab active">
					<a href="#">Songs</a>
				</li>
			  <li class="tab">
			  	<a href="#">Band Members</a>
			  </li>
				<div class="tab-content active">
		        <%= render 'songs/displaySongs' %>
		    </div>
		    <div class="tab-content">
		    	<div class="band_members">
						<ul>
							<% @members.each do |m| %>
								<li>
									<%= image_tag(m.profile_pic.url, class: "tab_field_pic") %>

									<h3><%= link_to m.name, user_path(m) %></h3>
								</li>
							<% end %>
						</ul>
					</div>	
				</div>
			</ul>

		</section>


	</div>

	<% if user_signed_in? %>
		<%= render 'bandPageOptions' %>
	<% end %>


</div>





