
	<div class="band_name">
		<h1><%= @band.name %></h1>
	</div>

		<div class="band_members">
			<ul>
				<% @members.each do |m| %>
					<li>
						<%= m.first_name %>
					</li>
				<% end %>
			</ul>
		</div>	
	</div>

	<% if user_signed_in? %>
		<div class="right_side_actions">
			<ul>
				<% if @band.users.include?(current_user) %>

					<li><%= link_to "New Song", new_band_song_path(params[:id]) %></li>
					<li><%= link_to 'Leave ' + @band.name, leave_band_path, method: :post %></li>

				<% else %>
					<li><%= link_to 'Join ' + @band.name, join_band_path, method: :post %></li>
				<% end %>
			</ul>
		</div>
	<% end %>


</div>

	<% if @band.songs %>
		<%= render 'songs/songtab' %>
	<% end %>
</div>