<div class="row">

	<div class="three columns">
		<div>
			<%= image_tag(@band.profile_pic.url, class: "profile_pic") %>
			<h3><%= @band.name %></h3>
		</div>
	</div>

	<div class="nine columns">

		<section class="tabs">

			<ul class="tab-nav">
				<li class="tab active">
					<a href="#">Songs</a>
				</li>
			  <li class="tab">
			  	<a href="#">Band Members</a>
			  </li>
		  <% if user_signed_in? && @band.users.include?(current_user) %>
			  <li class="tab">
			  	<a href='#'>Member Requests </a>
			  </li>
			  <li class="tab">
			  	<a href="#">Show Requests</a>
			  </li>
		  <% end %>
			</ul>
			<div class="tab-content active">
	        <%= render 'songs/displaySongs' %>
	        <%= paginate @songs %>
	    </div>
	    <div class="tab-content">
	    	<%= render 'bands/bandMembersTab', members: @members %> 
			</div>
		<% if user_signed_in? && @band.users.include?(current_user) %>
			<div class="tab-content">
				<div class="tab-field">
					<%= render 'bands/bandMemberRequestsTab', band_requests: @band_requests %>
				</div>
			</div>
			<div class="tab-content">
				<div class="row tab">
				  <% @show_requests.each do |req| %>
				  	<div class="tab-field">
					    <div class="four columns">              
					      <h3><%= sender_name(req) %></h3>
					      <p><%= link_to 'Accept', band_request_path(band_id: @band, request_id: req.id), method: :patch%></p>
					    </div>
					    <div class="push_one five columns">
					    	<p><%= req.message %></p>
					    </div>
					  </div>
				  <% end %>
				</div>
			</div>
		<% end %>
		</section>
	</div>
</div>





