<div class="row">

	<div class="three columns">
		<div>
			<%= image_tag(@band.profile_pic.url, class: "profile_pic") %>
			<h3><%= @band.name %></h3>
		</div>
	</div>

	<div class="seven columns">

		<section class="tabs">

			<ul class="tab-nav">
				<li class="tab active">
					<a href="#">Songs</a>
				</li>
			  <li class="tab">
			  	<a href="#">Band Members</a>
			  </li>
			  <li class="tab">
			  <a href='#'>Member Requests </a>
			  </li>
				<div class="tab-content active">
		        <%= render 'songs/displaySongs' %>
		    </div>
		    <div class="tab-content">
		    	<div class="row">
						<ul>
							<% @members.each do |m| %>
								<li class=" twelve columns pull_left">
									<%= image_tag(m.profile_pic.url, class: "tab_field_pic") %>

									<h4><%= link_to m.name, user_path(m) %></h4>
									<p>Bands: 
										<%= members_bands(m) %>
									</p>
								</li>
							<% end %>
						</ul>
					</div>
				</div>
				<div class="tab-content">
					<div class="content_holder">
						<ul>
						<% @band_requests.each do |req| %>
						<li>							
							<h3><%= sender_name(req) %></h3>
							<p><%= link_to 'Accept', band_request_path(band_id: @band, request_id: req.id), method: :patch%></p>
							</li>
						<% end %>
						</ul>
					</div>
				</div>	
				</div>
			</ul>

		</section>


	</div>

	<% if user_signed_in? %>
		<%= render 'bandPageOptions' %>
	<% end %>


</div>





