
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

     <div class="row">
      <fieldset class="eight columns">
        <legend><h3>Sign in</h3></legend>
        <ul>
            <ul>
              <li class="field">
              	<%= f.label :email %>
  							<%= f.email_field :email, :autofocus => true, class: "xxwide input" %>
              </li>
              <li class="field">
	              <%= f.label :password %>
	 							<%= f.password_field :password, class: "xwide input" %>
              </li>
              <li class="medium secondary btn">
                <%= f.submit 'Sign in' %>
              </li>
            </ul>
			 			<% if devise_mapping.rememberable? -%>
			    		<div><%= f.check_box :remember_me, class: "checkbox" %>Remember me?</div>
			    	<% end %>
            <li><%= render "devise/shared/links" %></li>
        </ul>
      </fieldset>
  </div>

<% end %>
