
<div class="navbar" id="nav1" gumby-fixed="top">

<span id="messages"><%= render "layouts/messages" %></span>

  <div class="row">
    <a class="toggle" gumby-trigger="#nav1 > .row > div > ul" href="#"><i class="icon-menu"></i></a>
    <h1 class="two columns logo">
        <%= link_to image_tag("Logo.png"), :root %>
    </h1>


  <% if user_signed_in? %>
    <div class="nine columns">
      <ul>
        <li >
          <%= link_to current_user.email, user_path(current_user) %>
        </li>
        <li><span class="hide-on-mobile">|</span></li>
        <li>
          <%= link_to "Log out", destroy_user_session_path(user_session), method: :delete %>
        </li>
        </li> 
      </ul>
    </div>






  <% else %>
    <div class="push_four four columns pull_right">
      <ul>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      </ul>
    </div>
  <% end %>
  </div>
  <% if @page_options %>
    <%= render 'layouts/subNavbar' %>
      <div class="row">
        <div class="two columns centered">
          <div class="medium warning btn" id="togoogler">
            <span href="#" id="page-options-toggle1" class="switch" gumby-trigger="#drawer1"><i class="icon-down">Options</i></span>
            <span href="#" id="page-options-toggle2" class="switch hide-this" gumby-trigger="|.drawer"><i class="icon-up">Options</i></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

