
<div class="navbar" id="nav1" gumby-fixed="top">

   <%= render "layouts/messages" %>

  <div class="row">
    <a class="toggle" gumby-trigger="#nav1 > .row > div > ul" href="#"><i class="icon-menu"></i></a>
    <h1 class="two columns logo">
        <%= link_to image_tag("Logo.png"), :root %>
    </h1>

    <% if @page_options %>
      <%= render 'layouts/toggler' %>
    <% end %>


  <% if user_signed_in? %>
    <div class="four columns float-right">
      <ul>
        <li>
          <%= link_to current_user.email, user_path(current_user) %>
        </li>
        <li><span class="hide-on-mobile">|</span></li>
        <li>
          <%= link_to "Log out", destroy_user_session_path(user_session), method: :delete %>
        </li>
          </div>
        </li> 
      </ul>
    </div>





  <% else %>
    <div class="two columns float-right">
      <ul>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      </ul>
    </div>
    </div>
  <% end %>

  <% if @page_options %>
    <%= render 'layouts/subNavbar' %>
  <% end %>
  </div>

</div>

