<!DOCTYPE html>
<html>
<head>
  <title>FAMOUS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= javascript_include_tag "modernizr" %>
  <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

	<%= yield :javascript_includes %>

  
</head>
<body>


  <%= yield :giant_image %>
  
  <div class="counter-nav">

    <%= render 'layouts/navbar' %>
    <div class="row">
      <div class="two columns centered">
        <span class="btn medium primary disp-bloc" id="page-options-toggle1">
          <a href="#" class="switch" gumby-trigger="#drawer1">Options<i class="icon-down"></i></a>
        </span>
        <span class="btn medium primary disp-bloc" id="page-options-toggle2">
          <a href="#" class="switch" gumby-trigger="|.drawer">Options<i class="icon-up"></i></a>
        </span>
      </div>
    </div>
  </div>


	<%= yield %>

</body>
</html>
