<!DOCTYPE html>
<html>
<head>
  <title>FAMOUS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= javascript_include_tag "modernizr" %>
  <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

	<%= yield :javascript_includes %>

  
</head>
<body>

   
	<%= render 'layouts/navbar' %>

  <%= yield :giant_image %>
  
  <% if @page_options %>
    <%= render 'layouts/subNavbar' %>
  <% end %>

  <div class="navbar-margin">
    <% if flash[:notice] %>
      <p class="secondary alert"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="danger alert"><%= flash[:alert] %></p>
    <% end %>
  </div>


  </div>
	<%= yield %>

</body>
</html>
