<!DOCTYPE html>
<html>
<head>
  <title>FAMOUS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= javascript_include_tag "modernizr" %>
  <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

	<%= yield :javascript_includes %>

  
</head>
<body>


  <%= yield :giant_image %>
<div class="counter-nav">
  <%= render 'layouts/navbar' %>


</div>
	<%= yield %>

</body>
</html>
